.container {
    display: block;
    color: #808080;
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    border: solid;
    border-color: #808080;
    border-radius: 8px;
    position: fixed;
    left: 100px;
    right: 100px;
    top: 100px;
  }
  .header {
    padding-top: 40px;
  }
  .degree {
    text-align: right;
    font-weight: 700;
    font-size: 60px;
  }
  .main {
    padding-top: 20px;
  }
  .forecast {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .card {
    text-align: center;
  }
  .card-title {
    font-weight: 400;
  }
  .card-text {
    font-size: 28px;
    font-style: bold;
    font-weight: 600;
  }
  .card-body {
    background-color: #f0ffff;
    border-radius: 4px;
  }
  .location {
    display: block;
    color: #808080;
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    border-color: #808080;
    border-radius: 4px;
  }
  